{% extends 'base.html' %} 
{% load static %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block title %}About Us{% endblock title %}

{% block body%}
<html 
lang="en">

  <body>


      <div class="container my-2">
        <h2 class="text-center my-2 py-2"><b>About Me</b></h2>
        <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="/static/img/designer.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Designer</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          </div>
  
  
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="/static/img/Programmer.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Developer</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
          </div>
  
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="/static/img/developer.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Programmer</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>  
        </div>
      </div>

    
  </body>
</html>
{% endblock body%}